{% extends "dash.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center card shadow-sm p-0">
                <div class="p-2 px-3 d-flex justify-content-between">
                    <span>{% trans "Books" %} (<strong>{{count}}</strong>)</span>
                    <span><a href="/book/create" class="btn btn-sm btn-success">+ {% trans "Create book" %}</a></span>
                    <span><a href="/book/create/ai" class="btn btn-sm btn-success"><i class="bi bi-robot"></i> {% trans "AI Book" %}</a></span>
                    <span><a href="/book/create/category" class="btn btn-sm btn-success">+ {% trans "Create category" %}</a></span>
                    <form method="GET">
                        <input type="search" value="{{ query }}" placeholder="{% trans "Title, id, description..." %}" name="query" class="form-control form-control-sm">
                    </form>
                </div>
                <table class="table p-3 mt-2 datatable datatable-table">
                    {% if books %}
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" dir="auto">{% trans "Name" %}</th>
                            <th scope="col" dir="auto">{% trans "Category" %}</th>
                            <th scope="col" dir="auto">{% trans "Views" %}</th>
                            <th scope="col" dir="auto">{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <th scope="row">{{book.id}}</th>
                            <td>
                                <a href="/book/{{ book.slug }}">{{book.name|truncatechars:40}}</a>
                            </td>
                            <td>{{book.category.name}}</td>
                            <td>{{book.views.all.count }}</td>
                            <td>

                                <a class="btn btn-sm btn-success" href="/book/update/{{book.id}}"><i class="ri-edit-fill"></i></a>
                                <a class="btn btn-sm btn-danger" href="/book/delete/{{book.id}}" onclick="return confirm('Are you sur you wnat to delete book')"><i class="ri-delete-bin-5-fill"></i></a>
                                <a class="btn btn-sm btn-primary" href="{% url 'book_rapport' book.slug %}"><i class="ri-bar-chart-2-fill"></i></a>
                                <a class="btn btn-sm btn-warning text-white" onclick="return confirm('Are you sur you wnat to remove book')" {% if book.removed %}disabled{% endif %} href="{% url 'remove_book' book.slug %}"><i class="bi bi-eye-slash-fill"></i></a>

                            </td>
                        </tr>
                        {% empty %}
                        <tfoot >
                           <div class="h3 py-5 my-5 text-center">
                            OOPS! No book
                           </div>
                        </tfoot>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example ">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item ">
                            {% if books.has_previous %}
                            <a href="?page={{ books.previous_page_number }}"
                                class="page-link rounded-pill px-5 h3 py-0">&#x2190;</a>
                            {% endif %}
                        </li>
                        <li class="page-item p-0">
                            {% if books.has_next %}
                            <a href="?page={{ books.next_page_number }}"
                                class="page-link rounded-pill px-5 h3 py-0">&#x2192;</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


{% endblock %}