{% extends "dash.html" %}

{% block content %}
<main class="main" id="main">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center card shadow-sm p-0">
                <div class="p-2 px-3 d-flex justify-content-between">
                    <span>Books (<strong>{{count}}</strong>)</span>
                    <span><a href="/book/create">+ New Book</a></span>
                    <span><a href="/book/create/category">+ New Category</a></span>
                    <form method="GET">
                        <input type="search" value="{{ query }}" placeholder="Title, Id, Description..." name="query" class="form-control form-control-sm">
                    </form>
                </div>
                <table class="table p-3 mt-2">
                    {% if books %}
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Views</th>
                            <th scope="col">Category</th>
                            <th scope="col">Created</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                        {% for book in books %}
                        <tr>
                            <th scope="row">{{book.id}}</th>
                            <td>
                                <a href="/book/{{ book.slug }}">{{book.name|truncatechars:40}}</a>
                            </td>
                            <td>{{book.category.name}}</td>
                            <td>{{book.views}}</td>
                            <td>{{book.date|date:"D d M Y"}}</td>
                            <td>
                                <a class="btn btn-sm btn-success" href="/book/update/{{book.id}}">Update</a>
                                <a class="btn btn-sm btn-danger" href="/book/delete/{{book.id}}" onclick="return confirm('Are you sur you wnat to delete book')">Delete</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tfoot >
                           <div class="h3 py-5 my-5 text-center">
                            OOPS! No book
                           </div>
                        </tfoot>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example ">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item ">
                            {% if books.has_previous %}
                            <a href="?page={{ books.previous_page_number }}"
                                class="page-link rounded-pill px-5 h3 py-0">&#x2190;</a>
                            {% endif %}
                        </li>
                        <li class="page-item p-0">
                            {% if books.has_next %}
                            <a href="?page={{ books.next_page_number }}"
                                class="page-link rounded-pill px-5 h3 py-0">&#x2192;</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>
{% endblock %}