{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block style %}
{% endblock %}
{% block content %}
<main class="container pt-4">
      <!-- books -->
      <div class="mt-6 pt-6">
        {% comment %} <h1 class="h5 pt-6 mt-5">{% trans "Download the most popular and latest books" %}</h1> {% endcomment %}
        <h1 class="h5 pt-6 mt-5">{% trans "The most popular and latest books" %}</h1>
      </div>
      <div class="row">
        {% for book in books %}
            <div class="book-card col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 mt-2 px-2">
                <div class="card card-book shadow-sm overflow-hidden h-100 m-0">
                    <a href="/book/{{book.slug}}" class="h-100">
                        {% if book.image %}
                        <img class="book-image fill" height="100%" src="{{book.image.url}}" alt="{{book.name}}" width="100%">
                        {% else %}
                        <img class="book-image fill" height="100%" src="{% static "/img/book-placeholder.png" %}" alt="{{book.name}}" width="100%">
                        {% endif %}
                    </a>
                </div>
            </div>
            {% empty %}
            <div class="py-5 text-center">{% trans "No Books" %}</div>
            {% endfor %}
            <div class="blog-pager container" id="blog-pager">
                {% if books.has_next %}
                    <a class="blog-pager-older-link load-more"  href="?page={{ books.next_page_number }}"> {% trans "Load More" %} </a>
                {% endif %}
               
            </div>
      </div>
</main>
{% endblock %}