{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 card shadow-sm">
            <h1 class="h4 my-3">Create Book Category</h1>
            <form method="POST" enctype="multipart/form-data" class="my-3">
                {% csrf_token %}
                <label for="id_name">Category name </label>
                <input type="text" name="name" maxlength="200" required id="id_name" class="form-control mt-3">
                <label for="id_language">Language</label>
                <select name="language" id="id_language" class="form-select mt-3" required>
                    <option value="">---- Select Language ----</option>
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                    <option value="es">Español</option>
                    <option value="ar">العربية</option>
                </select>
                <button class="btn btn-success w-100 mt-4">Create</button>
        </div>
    </div>
</div>
{% endblock %}