{% extends "base.html" %}{% load static %}{% load i18n %}


{% block head %}
    <link rel="stylesheet" href="{% static 'plyr/style.css' %}">
    <script>
        window.console = window.console || function (t) { };
    </script>
{% endblock %}


{% block content %}
<div style="height: auto !important;">
    <div class="container-lg" style="height: auto !important;">
        <div class="row pt-3" style="height: auto !important;">
            <div class="col-12 col-md-7 col-lg-8 col-xl-8 mb-3 m-0" style="height: auto !important;">
                <article class="blog-post" style="height: auto !important;">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="card overflow-hidden w-100">
                            <video controls crossorigin playsinline poster="{{ video.image.url }}" style="--plyr-color-main: #6c6cfe;" id="player" class="border w-100">
                                <!-- movie files -->
                                {% for video in qualities  %}
                                    {% if video.url %}
                                        <source src="{{ video.url }}"  type="video/mp4" size="{{ video.height }}">
                                    {% else %}
                                        <source src="{{ video.file.url }}"  type="video/mp4" size="{{ video.height }}">
                                    {% endif %}
                                {% endfor %}
                                <!-- Fallback for browsers that don't support the <video> element -->
                            </video>
                        </div>
                    </div>
                    <h1 dir="auto" class="blog-post-title h4 mt-2">{{video.title}}</h1>
                    <p dir="auto" class="text-left h6 text-muted">
                        {{video.created_at|date:'M d, Y '}} - {% trans "Views" %} {{ video.views.all.count }}
                    </p>

                    <!-- Download -->
                    {% for video in qualities  %}
                        {% if user.is_authenticated %}
                            {% if video.url %}
                                <a href="{{ video.url }}" class="btn btn-success btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                                        <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                        <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                                    </svg>
                                    {{ video.quality }}
                                </a>
                            {% else %}
                                <a href="{{ video.file.url }}" class="btn btn-success btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                                        <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                        <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                                    </svg>
                                    {{ video.quality }}
                                </a>
                            {% endif %}
                        {% else %}
                        <a href="/accounts/login?next={{ request.path }}" class="btn btn-success btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                                <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                            </svg>
                            {{ video.quality }}
                        </a>
                        {% endif %}
                    {% endfor %}
                    <!-- - H:i -->
                    <div class="my-3 pre-wrap" dir="auto">{{video.description|urlize}}</div>
                </article>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-4 position-relative row" style="height: auto !important;">

            <div class="bg-card sticky overflow-auto mb-4">
                
                {% if vidoe.list %}
                <h2 class="h5"> {{video.list.name }}</h2>
                    <div class="row p-0 m-0 ">
                        {% for chapter in video.list.videos.all  %}
                            <div class="col-12 p-0">
                                <div class="rounded border p-2 m-1 {% if video == chapter %} bg-light shadow-sm{% endif %}">
                                    <a href="{% url 'video' chapter.slug %}" class="d-flex align-items-center">
                                        <div class="mx-3 fw-bold">
                                            {{ forloop.counter }} - {{ chapter.title }}
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                        {% empty %}
                            <p class="text-center my-3 h6">{% trans "No Video yet" %} </p>
                        {% endfor %}
                    </div>
                {% endif %}
                
            </div>
            <div class="container">
                <div class="row d-flex justify-content-center p-0">
                    <div class="col-10 col-md-11">
                        {% include 'book/components/books-col.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock script %}

{% block footer %}
    <script src="{% static 'plyr/script.js' %}"></script>
    <script src="{% static 'js/plyr.js' %}"></script>
{% endblock footer %}


















{% comment %} {{ video.views.all.count }}

{% for view in video.views.all %}
    {{ view.created_at }}
{% endfor %}


{% for intermediary_model in video.videoview_set.all %}
    {{ intermediary_model.created_at }}
{% endfor %} {% endcomment %}