{% extends "base.html" %}{% load static %}{% load i18n %}


{% block head %}
    <link rel="stylesheet" href="{% static 'plyr/style.css' %}">
    <script>
        window.console = window.console || function (t) { };
    </script>
{% endblock %}


{% block content %}
<div style="height: auto !important;">
    <div class="container-lg" style="height: auto !important;">
        <div class="row pt-3" style="height: auto !important;">
            <div class="col-12 col-md-7 col-lg-8 col-xl-8 mb-3 m-0" style="height: auto !important;">
                <article class="blog-post" style="height: auto !important;">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="card overflow-hidden w-100">
                            <video controls crossorigin playsinline poster="{{ video.image.url }}" style="--plyr-color-main: #6c6cfe;" id="player" class="border w-100">
                                <!-- movie files -->
                                {% for video in qualities  %}
                                    <source src="{{ video.file.url }}"  type="video/mp4" size="{{ video.height }}">
                                {% endfor %}
                                <!-- Fallback for browsers that don't support the <video> element -->
                            </video>
                        </div>
                    </div>
                    <h1 dir="auto" class="blog-post-title h4 mt-2">{{video.title}}</h1>
                    <p dir="auto" class="text-left h6 text-muted">
                        {{video.created_at|date:'M d, Y '}} - {% trans "Views" %} {{ video.views.all.count }}
                    </p>
                    {% for video in qualities  %}
                        {% if user.is_authenticated %}
                        <a href="{{ video.file.url }}" class="btn btn-success btn-sm">{{ video.quality }}</a>
                        {% else %}
                        <a href="/accounts/login?next={{ request.path }}" class="btn btn-success btn-sm">{{ video.quality }}</a>
                        {% endif %}
                    {% endfor %}
                    <!-- Video Pulbisher -->
                    {% comment %} <div class="my-2 d-flex justify-content-between mt-4">
                        <a href="{% url 'profile' video.user.profile.slug %}" class="rounded-pill d-flex align-items-center">
                            <img width="40px" class="rounded-pill border" style="object-fit: cover;" height="40px" width="40px" src="{{ video.user.profile.avatar.url }}" alt="{{ video.user.first_name }}">
                            <div class="mx-3" style="line-height: 1;">
                                <p class="m-0 fw-bold">{{ video.user.first_name }} {{ video.user.last_name }}</p>
                                <small>{{ video.user.profile.follow.all.count }} {% trans "Followrs" %}</small>
                            </div>
                        </a>
                        <button class="btn btn-success btn-sm rounded-pill px-3"> <i class="bi bi-patch-minus"></i> &#xa0;{% trans "Follow" %} </button>
                    </div> {% endcomment %}

                    <!-- - H:i -->
                    <div class="my-3 pre-wrap" dir="auto">{{video.description|safe}}</div>
                </article>

                <!-- - Comment section -->
                 <section class="comments threaded mt-3"  id="comments">
                    <div class="title-wrap comments-title">
                        <div class="comment-title w-100 h5" dir="autho">{% trans "Comments" %} ({{ video.video_comment.count }})</div>
                    </div>
                    <div class="comments-content" id="comment">
                    </div>
    
                    {% comment %} <a href="javascript:;" id="show-comment-form">Post a Comment</a> {% endcomment %}
            
                </section> 
                {% if user.is_superuser %}
                <div class="py-3">
                    <a href="/post/update/{{post.id}}" class="btn me-3 btn-outline-success btn-sm">Update</a>
                    <a href="/post/delete/{{post.id}}" onclick="return confirm('Are you sur you want to delete Post')" class="btn btn-sm btn-outline-danger me-3">Delete</a>
                    {% if post.is_public %}
                    <a href="/post/status/{{ post.id }}" class="btn btn-sm btn-outline-info me-3">Un Publish</a>
                    {% else %}
                    <a href="/post/status/{{ post.id }}" class="btn btn-sm btn-outline-info me-3">Publish</a>
                    {% endif %}
                </div> 
                {% endif %}

                <div class="post-nav">
                    {% if post.next %}
                    <a class="post-nav-older-link" href="/p/{{post.next.slug}}">
                        {% trans "Previous" %}
                    </a>
                    {% endif %}
                    {% if post.pre %}
                    <a class="post-nav-newer-link" href="/p/{{post.pre.slug}}">
                        {% trans "Next" %}
                    </a>
                    {% endif %}
                </div>
                <!-- End Article -->
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-4 position-relative row" style="height: auto !important;">
            <div class="bg-card sticky overflow-auto mb-4">
                <h2 class="h5"> {{video.list.name }}</h2>
                {% if user.is_superuser %}
                    <a href="/play-list/update/3b43f4ea583446ab84713b02548fa894" class="btn btn-success btn-sm my-2">تعديل</a>
                    <a href="" class="btn btn-danger btn-sm my-2">حذف</a>
                    <a href="/play-list/3b43f4ea583446ab84713b02548fa894" class="btn btn-info btn-sm my-2">مشاهدة</a>
                {% endif %}
                <div class="row p-0 m-0 ">
                    {% for chapter in video.list.videos.all  %}
                        <div class="col-12 p-0">
                            <div class="rounded border p-2 m-1 {% if video == chapter %} bg-light shadow-sm{% endif %}">
                                <a href="{% url 'video' chapter.slug %}" class="d-flex align-items-center">
                                    <div class="mx-3 fw-bold">
                                        {{ forloop.counter }} - {{ chapter.title }}
                                    </div>
                                </a>
                                
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center my-3 h6">{% trans "No Video yet" %} </p>
                    {% endfor %}
                </div>
                
            </div>
            <div class="w-100 row d-flex justify-content-center">
                <div class="col-11">
                    {% include 'book/components/books-col.html' %}
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock script %}

{% block footer %}
    <script src="{% static 'plyr/script.js' %}"></script>
    <script src="{% static 'js/plyr.js' %}"></script>
{% endblock footer %}


















{% comment %} {{ video.views.all.count }}

{% for view in video.views.all %}
    {{ view.created_at }}
{% endfor %}


{% for intermediary_model in video.videoview_set.all %}
    {{ intermediary_model.created_at }}
{% endfor %} {% endcomment %}