{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        {% for temp in templates %}
        <div class="col-md-7 card shadow-sm p-0 overflow-hidden mb-2">
            <a href="/templates/{{temp.slug}}">
                <div>
                    {% for img in temp.image.all|slice:"1" %}
                    <img class="w-100 border-bottom"
                        src="{{img.images.url}}"
                        alt="{{temp.title}}">
                    {% endfor %}
                </div>
            </a>
            <div class="h6 p-2">
                <a href="/templates/{{temp.slug}}">
                    <div>{{temp.title}}</div>
                </a>
                <span class="badge text-bg-warning">
                    {% if temp.price > 0 %}
                    {{temp.price}} $
                    {% else %}
                    Free
                    {% endif %}
                </span>
            </div>
        </div>
        {% empty%}
        <div class="p-5 h4 text-center">No Templates</div>
        {% endfor %}
    </div>
</div>

{% endblock %}