{% extends "base.html" %}

{% block content %}
<div style="height: auto !important;">
    <div class="container-lg" style="height: auto !important;">
        <div class="row" style="height: auto !important;">
            <div class="col-12 col-md-7 col-lg-8 col-xl-8 mb-3 m-0" style="height: auto !important;">
                <article class="blog-post" style="height: auto !important;">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="card overflow-hidden w-100">
                            {% for img in template.image.all|slice:"1" %}
                            <img class="w-100 border-bottom"
                                src="{{img.images.url}}"
                                alt="{{template.title}}">
                            {% endfor %}
                        </div>
                    </div>
                    <h1 dir="auto" class="blog-post-title h4 mt-2">{{template.title}}</h1>
                    <p dir="auto" class="text-left h6 text-muted">{{template.date|date:'M d, Y  H:i '}}</p>
                    <div>
                        <a href="{{template.file}}" class="btn-success btn me-2" download>Download</a>
                        <a href="{{template.demo}}" target="_blank" class="btn-danger btn ms-2">Demo Live</a>

                    </div>
                    <div class="my-3">{{template.body|safe}}</div>
                   {% if user.is_superuser %}
                   <div>
                    <a href="/template/update/{{template.id}}" class='btn btn-sm me-3 btn-outline-info'>Update</a>
                    <a href="/template/delete/{{template.id}}" onclick="return confirm('Are you sur you want to delete Post')" class='btn btn-sm btn-outline-danger'>Delete</a>
                </div>
                   {% endif %}
                </article>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-4 position-relative" style="height: auto !important;">
                <div class="position-sticky" style="top: 0px; height: auto !important;">
                    <div class="mt-2">
                        <span class="h4 p-1">Copyrights</span>
                        <p class="text-left">We respect the property rights of others, and are always keen not to
                            violate their rights, so authors and publishing houses have the right to demand the removal
                            of a download link for a book from the site. If you find a book that belongs to you and do
                            not agree to the publication of the download link for the book, or you have a suggestion or
                            complaint, write to us through the Contact Us page, or by email at : <a
                                href="mailto:support@freewsad.com">support@freewsad.com</a></p><a href="/page/about-us-yqelk">Read
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}