{% extends "dash.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}


<div class="d-flex">
    <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        &#x271A;
    </button>
    <form method="get" class="col-md-6">
        <div class="input-group rounded">
            <input type="search" placeholder="{% trans 'Search' %}" value="{{ request.GET.query }}" name="query"
                class="form-control">
            <button type="submit" class="input-group-text" id="searchIcon">
                <i class="bx bx-search-alt"></i>
            </button>
        </div>
    </form>


</div>
<form method="POST" id="form-delete" action="">
    {% csrf_token %}


    <div class="container mt-3">
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert col-md-6 alert-{{ message.tags }} p-2" {% endif %}>{{ message }}</div>
        {% endfor %}
        {% endif %}

        <div {% if form.url.errors %} class="alert col-md-6 alert-danger p-2" {% endif %}>{{ form.url.errors }}</div>

        <div class="row">
            {% for group in groups %}
            <div class="col-md-3">
                <div class="card shadow-sm">
                    <img src="{{ group.image.url }}" style="height: 150px; object-fit: cover;"
                        class="card-img-top border" alt="{{ group.nae }}">
                    <div class="card-body p-0">
                        <h5 class="card-title p-2 pb-0" dir="auto">
                            <a href="{{ group.url }}" target="_blank">{{group.name|truncatechars:"40" }}</a>
                        </h5>
                        <p class="card-text p-2 pt-0">
                            <span>{% trans "Members" %} : <strong>{{ group.members|floatformat:"-3g" }}</strong></span> |
                            <span>{{ group.language.name }}</span> |
                            {% if group.status %}
                            <span class="text-success">{% trans "Active" %}</span>
                            {% else %}
                            <span class="text-danger">{% trans "Close" %}</span>
                            {% endif %} |
                            <a data-bs-toggle="collapse" href="#collapse-{{ group.id }}" role="button"
                                aria-expanded="false" aria-controls="collapse-{{ group.id }}">
                                {% trans "More" %}
                            </a>
                        </p>
                    </div>
                    <div class="p-2 pt-0">
                        <div class="collapse" id="collapse-{{ group.id }}">
                            <div>
                                {{ group.description }}
                            </div>
                            <a href="{% url 'update_facebook_group' group.id %}" class="btn btn-sm btn-success">
                                {% trans "Update" %}
                            </a>
                            <a href="{% url 'delete_facebook_group' group.id %}" class="btn btn-sm btn-danger"
                                onclick="return confirm('{% trans "Are you sure you want to delete group?" %}')">
                                {% trans "Delete" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <main aria-label="Page navigation mt-3">
            <ul class="pagination justify-content-center">
                {% if groups.has_previous %}
                <li class="page-item">
                    <a class="page-group card mx-1 py-2 px-3 shadow-sm border"
                        href="?page={{ groups.previous_page_number }}">{% trans "Previous" %}</a>
                </li>
                {% endif %}

                {% for num in groups.paginator.page_range %}

                {% if num > groups.number|add:'-4' and num < groups.number %} 
                <li class="page-item">
                    <a class="page-group card mx-1 py-2 px-3 shadow-sm border" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}

                {% if num > groups.number and num <= groups.number|add:'4' %} 
                    <li class="page-item">
                        <a class="page-group card mx-1 py-2 px-3 shadow-sm border" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}


                {% if num == groups.paginator.num_pages|add:'-1' and num < groups.number|add:'5' %}
                <li class="page-item">
                    <a class="page-group card mx-1 py-2 px-3 shadow-sm border" href="?page={{ num }}">...</a>
                </li>
                {% endif %}

                {% endfor %}

                {% if groups.has_next %}
                <li class="page-item">
                    <a class="page-group card mx-1 py-2 px-3 shadow-sm border" href="?page={{ groups.next_page_number }}">{% trans "Next" %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </main>
    </div>
</form>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{% trans "Create group" %}</h1>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100">{% trans "Create" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}