

{% load static %} {% load i18n %}
<!DOCTYPE html>
<html class="ltr" lang='en' dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %} {{title|slice:'60'}} {% else %} Freesad - Professional Education Platform {% endif %}</title>
  <!--  Social Tags-->
  <meta name="keywords" content="{{tags}}, books, course, articles, news, programing,python, javascript, c##, djanog, html,css, learn, education">
  <meta name="description" content="{% if description %}{{description|slice:'158'}}{% else %}{% trans 'You can enjoy Books and Bopics, Courses you love and download the original content, and share it all with your friends, and the whole world on freesad.' %} {% endif %}">
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{% if title %} {{title|slice:'60'}} {% else %} {% trans 'Freesad - Professional Education Platform.' %} {% endif %}">
  <meta itemprop="description" content="{% if description %}{{description|slice:'158'}}{% else %}{% trans 'You can enjoy Books and Bopics, Courses you love and download the original content, and share it all with your friends, and the whole world on freesad.' %} {% endif %}">
  <meta itemprop="image" content="{% if image %}{{image.url}}{% else %}{% static 'img/freesad.svg' %}{% endif %}">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if title %} {{title|slice:'60'}} {% else %} {% trans 'Freesad - Professional Education Platform' %} {% endif %}">
  <meta name="twitter:description" content="{% if description %}{{description|slice:'158'}}{% else %}{% trans 'You can enjoy Books and Bopics, Courses you love and download the original content, and share it all with your friends, and the whole world on freesad.' %} {% endif %}">
  <meta name="twitter:creator" content="@freesad">
  <meta name="twitter:site" content="@freesad">
  <meta name="twitter:image" content="{% if image %}{{image.url}}{% else %}{% static 'img/freesad.svg' %}{% endif %}">
  <!-- Open Graph data -->
  <meta property="og:title" content="{% if title %} {{title|slice:'60'}} {% else %} {% trans 'Freesad - Professional Education Platform' %} {% endif %}" />
  <meta property="og:type" content="webiste" />
  <meta property="og:url" content="https://www.freesad.com{{ request.path }}" />
  <meta property="og:image" content="{% if image %}{{image.url}}{% else %}{% static 'img/freesad.svg' %}{% endif %}" />
  <meta property="og:description" content="{% if description %}{{description|slice:'158'}}{% else %}{% trans 'You can enjoy Books and Bopics, Courses you love and download the original content, and share it all with your friends, and the whole world on freesad.' %} {% endif %}" />
  <meta property="og:local" content="en" />

  <meta name="author" content="www.freesad.com">
  <meta name="robots" content="index,follow">
  <link rel="canonical" href="{{ request.build_absolute_uri }}" />
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">

  <link rel="alternate" href="https://freesad.com/en/" hreflang="en-us">
  <link rel="alternate" href="https://freesad.com/ar/" hreflang="ar">

  <link rel="apple-touch-icon" sizes="180x180" href="{% if image %}{{image.url}}{% else %}{% static 'img/freesad.svg' %}{% endif %}">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% if image %}{{image.url}}{% else %}{% static 'img/freesad.svg' %}{% endif %}">
  <!-- theme -->
  <meta name="theme-color" content="#6c6cfe" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
  <!-- Theme Style CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6043226569102012" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" />
  <meta name="google-site-verification" content="5ciJ5g9RpZVgFKaGO38lnvifNcWCEUhIFGZur3euyW0" />
</head>

<style>
  .main-logo { box-sizing: initial; }
  p{margin-bottom: 15px!important;}

</style>

<body class="is-home is-multiple">
  <!-- Theme Options -->
  <div id="theme-options" style="display:none">
    <div class="ify-panel section" id="ify-panel" name="Theme Options">
      <div class="widget HTML" data-version="2" id="HTML150">
      </div>
    </div>
  </div>
  <!-- Outer Wrapper -->
  <div id="outer-wrapper">
    <!-- Header Wrapper -->
    <header id="freebify-preview-header-wrapper">
      <div class="headerify-wrap">
        <div class="headerify">
          <div class="headerify-inner">
            <div class="container row-x1">
              <div class="headerify-items d-flex justify-content-between" >
                <div class="main-logo-wrap">
                  <div class="main-logo section" id="main-logo" name="Header Logo">
                    <div class="widget Header" data-version="2" id="Header1">
                      <div class="logo-content">
                        <a class="logo-img" href="/">
                          <img alt="Freesad is a Professional Education Platform." height="auto" width="auto"
                            src="{% static 'img/logo.svg' %}" />
                            {% if request.path|length == 4  %}
                            <h1 id="h1-tag">Freesad - Professional Education Platform, Web Development,</h1>
                            {% endif %}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <nav class="main-menu-wrap">
                  <div class="freebify-preview-main-menu section" id="freebify-preview-main-menu" name="Main Menu">
                    <div class="widget LinkList show-menu" data-version="2" id="LinkList152">
                      <ul id="freebify-preview-main-menu-nav" role="menubar">
                        <li><a href="/" role="menuitem">Home</a></li>


                        <li class="has-sub">
                          <a href="#" role="menuitem">Categories</a>
                          <ul class="sub-menu m-sub">
                            {% for category in categories  %}
                              <li><a href="/category/{{ category.slug }}" role="menuitem">{{ category.name}} </a></li>
                            {% endfor %}
                          </ul>
                        </li>

                        <li><a href="{% url 'post.list' %}" role="menuitem">Posts</a></li>
                        <!-- <li><a href="/post" role="menuitem">Play List</a></li> -->
                        <li><a href="/page/about-us-4gtsf" role="menuitem">About Us</a></li>
                        <li><a href="/contact" role="menuitem">Contact Us</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
                <div class="main-toggle-wrap">
                  <!-- <a class="main-toggle-style search-toggle show" href="javascript:;"></a>
                  <a class="main-toggle-style search-toggle hide " href="javascript:;"></a> -->
                  <a class="main-toggle-style mobile-menu-toggle" onclick="sliderShow()" href="javascript:;"></a>
                </div>
                <div id="nav-search-wrap">
                  <form action="{% url 'search' %}" class="search-form" role="search">
                    <input autocomplete="off" name="search" class="search-input" placeholder="Search" value="" />
                    <button class="search-action" type="submit" value=""></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    


    {% block content %}

    {% endblock %}

    
    <!-- Ads -->
    <!-- {% include 'components/media.html' %} -->
    <!-- Footer Wrapper -->
    <footer id="footer-wrapper">
      <div class="container row-x1">
        <div class="footer-widgets-wrap">
          <div class="footer freebify-preview-widget-ready section" id="footer1" name="Footer 1">
            <!-- About us -->
            <div class="widget Text" data-version="2" id="Text1">
              <div class="widget-title">
                <h3 class="title">About Us</h3>
              </div>
              <div class="widget-content excerpt">
                Freesad is a Professional Education Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of Education...
                 <a href="/page/about-us-4gtsf" target="_blank">more &#8594;</a>
              </div>
            </div>

            <!-- Social media -->
           {% comment %} {% include 'components/media.html' %} {% endcomment %}

          </div>

          <!-- Article footer -->
          <div class="footer freebify-preview-widget-ready section" id="footer3" name="Footer 3">
            <div class="widget PopularPosts" data-version="2" id="PopularPosts2">
              <div class="widget-title">
                <h3 class="title">Popular Posts</h3>
              </div>
              <div class="widget-content">

                {% for post in new_posts %}
                <article class="popular-post post item-0 mb-2">
                  <a class="entry-image-wrap is-image" href="{% url 'post' post.slug %}">
                    {% if post.image %}
                    <span class="entry-thumb" data-image="{{ post.image.url}}"><span class="d-none">{{post.title}}</span></span>
                    {% endif %}
                  </a>
                  <div class="entry-header">
                    <h2 class="entry-title">
                      <a href="{% url 'post' post.slug %}"> {{post.title|truncatechars:70}}</a>
                    </h2>
                  </div>
                </article>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Small footer -->
      <div class="footerbar">
        <div class="container row-x1">
          <div class="footer-copyright" id="footer-copyright">
            <span class="copyright-text">Copyright © 2023 All rights reserved -
               <a href="/" title="Freesad">Freesad.com.</a>
              </span>
          </div>
          <div class="footer-menu section" id="footer-menu" name="Footer Menu">
            <div class="widget LinkList" data-version="2" id="LinkList155">
              <div class="widget-content">
                <ul class="link-list">
                  <li><a href="/">Home</a></li>
                  <li><a href="/page/about-us-4gtsf">About</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                  <li><a href="/page/privacy-policy-xgxps">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div id="slide-menu" class="nav-active">
    <div class="slide-menu-header">
      <div class="mobile-search">
        <form method="GET" action="/" class="search-form" role="search">
          <input autocomplete="off" class="search-input" name="query" placeholder="Search" value="{{ query }}">
          <button class="search-action" type="submit" value=""></button>
        </form>
      </div>
      <span class="hide-freebify-preview-mobile-menu" onclick="sliderHide()"></span>
    </div>
    <div class="slide-menu-flex">
      <div class="freebify-preview-mobile-menu" id="freebify-preview-mobile-menu">
        <ul id="main-mobile-nav" role="menubar">
          <li><a href="/" role="menuitem">Home</a></li>
          <li><a href="/posts" role="menuitem">Posts</a></li>
          <!-- <li><a href="/play-lists" role="menuitem">Play Lists</a></li> -->
          <li><a href="/page/about-us-4gtsf" role="menuitem">About Us</a></li>
          <li><a href="/contact" role="menuitem">Contact Page</a></li>
          <li><a href="/page/privacy-policy-xgxps" role="menuitem">Privacy Policy</a></li>
        </ul>
      </div>
      {% comment %} <div class="mobile-menu-footer">
        <div class="mobile-navbar-social">
          <ul class="social-icons social">
            <li class="facebook-f link-0"><a class="facebook-f" href="# $ Facebook" target="_blank"></a></li>
            <li class="twitter link-1"><a class="twitter" href="#" target="_blank"></a></li>
            <li class="youtube link-2"><a class="youtube" href="#" target="_blank"></a></li>
            <li class="instagram link-3"><a class="instagram" href="#" target="_blank"></a></li>
            <li class="rss link-4"><a class="rss" href="#" target="_blank"></a></li>
          </ul>
        </div>
        <div class="mobile-navbar-menu">
          <ul class="link-list">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="?hl=ar">RTL Version</a></li>
          </ul>
        </div>
      </div> 
      {% endcomment %}
    </div>
  </div>
  <div class="overlay"></div>

{% if not user.is_authenticated %}
  <!-- Ads Demo
  <div class="demo-float">
    <span class="df-hide"><i class="fas fa-times"></i></span>
    <div class="df-logo"></div>
    <h3>Templateify</h3>
    <p class="excerpt">Best Free and Premium Blogger Templates Provider.</p>
    <a href="https://www.templateify.com/2020/07/freebify-blogger-template.html"
      title="Freebify - Blogger Template">Download This Template</a>
  </div>
  <script type="text/javascript">
    $(function () { $(".df-hide").on("click", function () { $(".demo-float").fadeOut(170); }); });
  </script> -->
{% endif %}




  <script>

    document.addEventListener("DOMContentLoaded", function () {
      const lazyElements = document.querySelectorAll(".entry-thumb");
      
      const observer = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            entry.target.style.backgroundImage = "url(" + entry.target.getAttribute("data-image") + ")";
            entry.target.style.opacity = 1;
            observer.unobserve(entry.target);
          }
        });
      });

      lazyElements.forEach(function (element) {
        observer.observe(element);
      });
    });




    const sliderShow = () =>{
      document.getElementById('slide-menu').style.visibility = "visible";
      document.getElementById('slide-menu').style.transform = "translateX(0)";
      document.getElementById('slide-menu').style.display = "block";
    }

    const sliderHide = () =>{
      document.getElementById('slide-menu').style.visibility = "hidden";
      document.getElementById('slide-menu').style.display = "none";
      document.getElementById('slide-menu').style.transform = "translateX(1)";
    }







  </script>


</body>

</html>