{% extends 'profile/profile.html' %}
{% load i18n %}

{% block profile %}
<div class="tab-pane active show" id="profile-videos">
    <div class="m-b-10 m-b-10 container-fluid p-0 m-0"><b>{% trans "Books" %} ({{ page.user.books.all.count }})</b>

        <div class="row">
            {% for book in books %}
            <div class="book-card col-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 mt-2 px-2">
                <div class="card card-book shadow-sm overflow-hidden h-100 m-0">
                    <a href="/book/{{book.slug}}" class="h-100">
                        {% if book.image %}
                 <img class="book-image fill" height="100%" src="{{book.image.url}}" alt="{{book.name}}" width="100%">
                {% else %}
                 <img class="book-image fill" height="100%" src="{% static "/img/book-placeholder.png" %}" alt="{{book.name}}" width="100%">
                {% endif %}
                    </a>
                </div>
            </div>
            {% empty %}
            <div class="py-5 text-center">{% trans "No Books" %}</div>
            {% endfor %}
        </div>
        
        <main aria-label="Page navigation mt-3">
            <ul class="pagination justify-content-center">
                {% if books.has_previous %}
                    <li class="page-item">
                        <a class="page-link bg-card" href="?page={{ books.previous_page_number }}">{% trans "Previous" %}</a>
                    </li>
                {% endif %}

                {% for num in books.paginator.page_range %}
                    {% if num > books.number|add:'-4' and num < books.number %} 
                        <li class="page-item">
                            <a class="page-link bg-card" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}

                    {% if num > books.number and num <= books.number|add:'4' %} 
                        <li class="page-item">
                            <a class="page-link bg-card" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}

                    {% if num == books.paginator.num_pages|add:'-1' and num < books.number|add:'5' %}
                        <li class="page-item">
                            <a class="page-link bg-card" href="?page={{ num }}">...</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if books.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-card" href="?page={{ books.next_page_number }}">{% trans "Next" %}</a>
                    </li>
                {% endif %}
            </ul>
        </main>
    </div>
</div>

{% endblock profile %}