{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-center d-flex">
        <div class="col-md-10 card p-0">
            <table class="table table-striped p-0 m-0">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Created</th>
                        <th scope="col">Size</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for file in files %}
                    <tr>
                        <th><a id="text-{{file.id}}" href="{{ file.file.url}}">{{ file.name|truncatewords:40}}</a></th>
                        <td>{{ file.type }}</td>
                        <td>{{file.created|date}}</td>
                        <td>{{file.size }}</td>
                        <td>
                            <button class="btn btn-info btn-sm text-white" onclick="copy({{file.id}})">Copy</button>
                            <a href="/file/delete/{{file.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete File.')">Delete</a>
                            <a class="btn btn-success btn-sm" download="true" href="{{ file.file.url}}">Download</a>
                            {% if file.view %}
                            <a class="btn-warning btn btn-sm" href="{{ file.file.url}}">View</a>

                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function copy(url) {
        // Get the text field
        var copyText = document.getElementById(`text-${url}`);

        // Select the text field
        // copyText.select();
        // copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.getAttribute('href'));

        // Alert the copied text
        alert("Copied the text: " + copyText);
    }
</script>


{% endblock content %}