{% extends "base.html" %}
{% block content %}
<div class="contaiern">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="list-group">
                <a href="/lable/python" class="list-group-item list-group-item-action">Python</a>
                <a href="/lable/JavaScript" class="list-group-item list-group-item-action">JavaScript</a>
                <a href="/lable/PHP" class="list-group-item list-group-item-action">PHP</a>
                <a href="/lable/HTML" class="list-group-item list-group-item-action">HTML</a>
                <a href="/contact" class="list-group-item list-group-item-action">Contact</a>
                <a href="/page/privacy-policy-xgxps" class="list-group-item list-group-item-action">Privacy Policy</a>
                <a href="/page/about-us-4gtsf" class="list-group-item list-group-item-action">About us</a>
                <a href="/page/copyrights-sxrmt" class="list-group-item list-group-item-action">Copyrights</a>
            </div>
        </div>
    </div>
</div>
{% endblock%}