<footer class="footer-07 bg-light border-top border-bottom mt-5 nav">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="footer-heading mt-3"><a href="/" class="logo h5">freedaz.com</a></div>
                <p class="menu d-flex justify-content-center mt-3 flex-wrap">
                    <a href="/" class="nav-link mx-2">Home</a>
                    {% if request.LANGUAGE_CODE == 'en' %}
                    <a href="/page/privacy-policy-xgxps" class="nav-link mx-2">Privacy Policy</a>
                    <a href="/page/about-us-4gtsf" class="nav-link mx-2">About</a>
                    {% else %}
                    <a href="/page/49hwm" class="nav-link mx-2">Privacy Policy</a>
                    <a href="/page/eidme" class="nav-link mx-2">About</a>
                    {% endif %}
                    <a href="/page/copyrights-sxrmt" class="nav-link mx-2">Copyrights</a>
                    <a href="/contact" class="nav-link mx-2">Contact</a>
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>  All rights reserved.
                     <!-- | This template is made with ❤ by <a href="https://freewsad.com" target="_blank">freewsad.com</a> -->
                </p>
            </div>
        </div>
    </div>
</footer>