{% load i18n %}
<!-- Hero Wrapper -->
<div id="hero-wrapper">
    <div class="hero-section container row-x1 section" id="hero-section" name="Hero Section">
        <div class="widget Image" data-version="2" id="Image150">
            <style type="text/css">
                #hero-wrapper:before {
                    background-image: url(//4.bp.blogspot.com/-en4ZaBhkgSs/XsU3b3GpdOI/AAAAAAAACJo/7ktOtl1o0iouU_bzYctC82CEdMa4t2DVACK4BGAYYCw/s1600/Depositphotos_102339260_xl-2015.jpg)
                }
            </style>
            <h2 class="hero-title">{% trans "Freesad is a Professional Education Platform." %} </h2>
            <p class="hero-description excerpt">{% trans "Here we will provide you only interesting content!" %}</p>
        </div>
        <div class="widget BlogSearch" data-version="2" id="BlogSearch150">
            <form method="GET" action="/" class="search-form">
                <input autocomplete="off" class="search-input" value="{{ query }}" name="query" placeholder="{% trans "Articles, Books, Courses..." %}" />
                <button class="search-action" type="submit"></button>
            </form>
        </div>
    </div>
</div>