{% load i18n %}
<div class="widget LinkList" data-version="2" id="LinkList2">
    <div class="widget-title">
      <h3 class="title">{% trans "Follow Us" %}</h3>
    </div>
    <div class="widget-content">
      <ul class="social-icons social social-bg-hover">
        <li class="facebook-f link-0"><a class="facebook-f" href="# $ Facebook" target="_blank"></a></li>
        <li class="twitter link-1"><a class="twitter" href="#" target="_blank"></a></li>
        <li class="youtube link-2"><a class="youtube" href="#" target="_blank"></a></li>
        <li class="instagram link-3"><a class="instagram" href="#" target="_blank"></a></li>
        <li class="rss link-4"><a class="rss" href="#" target="_blank"></a></li>
      </ul>
    </div>
  </div>