{% load i18n %}<div class="blog-posts hfeed container index-post-wrap">
    {% for post in  posts %}
    <article class="blog-post hentry index-post post-10 p-sm-0 p-md-1 p-lg-1 p-xl-1">
        <a class="entry-image-wrap is-image" href="{% url 'post' post.slug %}">
        {% if post.image %}
            <span class="entry-thumb" data-image="{{ post.image.url }}"><span class="d-none">{{post.title}}</span></span>
        {% endif %}
        </a>
        <div class="entry-header">
        <div class="entry-meta">
            <span class="entry-category m-item">{{ post.category.name }}</span>
            <span class="entry-time m-item">
                <span class="t-label m-item">-</span>
                <time class="published m-item" datetime="{{post.created}}">{{post.created|date:'M d, Y '}}</time>
            </span>
        </div>
        <h2 class="entry-title"><a class="entry-title-link"
            href="{% url 'post' post.slug %}" rel="bookmark">{{ post.title|truncatechars:65 }}</a>
        </h2>
        </div>
    </article>

    {% empty %}
    <div class="d-flex justify-content-center w-100">
        <h1 class="py-5 text-center h4"> {% trans "No Post Articles" %}</h1>
    </div>
    {% endfor %}
</div>