{% load i18n %}
{% block header %}
<style>
span.tname,span.tnickname{height:50%;width:calc(100% - 80px);float:left;margin-left:5px;font-size:14px}.ttop{background:#5682a3;height:52px;width:100%;color:#fff;text-align:center;line-height:50px}.tlogo{position:absolute;top:4px;left:4px}span.tname,span.ttitle{display:inline-block;vertical-align:middle;line-height:normal;font-weight:700}.tbottom{min-height:50%;position:relative;overflow:hidden;background:#fff}.tbottom:hover{background:#eef2f5;cursor:pointer}.tbottom:hover span.nickname{text-decoration:underline}.tavatar{width:50px;height:50px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;background:url(http://cs625322.vk.me/v625322187/2313a/K56_aKXExds.jpg) no-repeat;margin:10px;float:left}span.tname{margin-top:15px}span.tnickname{font-weight:400;margin-top:4px}.sticky-sidebar{position:-webkit-sticky;position:sticky;top:20px}a.tlink{color:inherit}
</style>
{% endblock header %}
<div class="card shadow-none overflow-hidden mt-3">
 <div class="tcontainer">
   <div class="ttop">
     <div class="tlogo">
       <a target="_blank" href="https://telegram.me/freewsad">
         <img class="tlogo" alt="Telegram" width="35px" height="35px" src="https://web.telegram.org/img/Telegram72.png">
       </a>
     </div>
     <span class="ttitle">{% trans "Follow us on Telegram" %}</span>
   </div>
   <a class="tlink" target="_blank" href="https://telegram.me/freewsad">
     <div class="d-flex align-items-center">
       <div class="tavatar">
        <img height="40px" width="40px" class="rounded-pill" alt="Freesad Telegram" loading="lazy" src="https://cdn4.telesco.pe/file/aR_zAJoK5wImdrqkyaWYVDW6DRhpculPbPrHrpyqEUQ4HTcBGn7pdFQ4A1meJ_3NuASVW72NW774y0p1n92XNK9NtO0NFIpjMm53HcgCsAaJsQVbmrUBF22MRtB683wTiY0ETUchxXx0wNqs4vtJjSJF38KPbz7ZId3ribvsisyKJyVHaT7jhwJ-ol5VszrLP5bav-0aCvlSnPwrLvHFI7GHb1WP_1j5xBv5wphg9KdSTNDqbmfRELnmk1NEFExPF4hvSkUnbMGiLU2Xme135O7G3SNu_psBuPKZsLfd-VPx-Ang3MXorfrdexJm1nbBXmYM4Gcd_osLRBHXUd9XGg.jpg" />
       </div>
       <div>
        <span class="h6" dir="auto">{% trans "Freewsad Books" %}</span> <br>
        <span dir="auto">@freewsd</span>
       </div>
     </div>
   </a>
 </div>
</div>