{% load i18n %}
<div class="card shadow-none overflow-hidden">
 <div class="tcontainer">
   <div class="ttop">
     <div class="tlogo">
       <a target="_blank" href="https://telegram.me/freewsad">
         <img class="tlogo" alt="Telegram" width="35px" height="35px" src="https://web.telegram.org/img/Telegram72.png">
       </a>
     </div>
     <span class="ttitle">{% trans "Follow us on Telegram" %}</span>
   </div>
   <a class="tlink" target="_blank" href="https://telegram.me/freewsad">
     <div class="d-flex align-items-center">
       <div class="tavatar">
        <img height="40px" width="40px" class="rounded-pill" alt="Freesad Telegram" loading="lazy" src="https://www.freewsad.com/favicon.webp" />
       </div>
       <div>
        <span class="h6" dir="auto">{% trans "Freewsad Books" %}</span> <br>
        <span dir="auto">@freewsd</span>
       </div>
     </div>
   </a>
 </div>
</div>