{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 card shadow-sm">
            <h1 class="h4 my-3">Update Page</h1>
            <form method="POST" enctype="multipart/form-data" class="my-3">
                {% csrf_token %}
                <label for="title">Title</label>
                <input class="form-control mb-3" value="{{form.title.value}}" type="text" placeholder="Title" name="title" maxlength="300"
                    id="id_title">
                <label for="body">Description</label>
                <textarea class="form-control" name="body" cols="40" rows="10" id="id_body" hidden="true">{{form.body.value}}</textarea>
                <div class="summernote-div" cols="40" rows="10" width="100%" height="480">
                    <iframe id="id_body_iframe" src="/summernote/editor/id_body/" frameborder="0" width="100%" height="480">
                    </iframe>
                </div>
                <button class="btn btn-success w-100 mt-4">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}